.tableAdd{
	float:left;
	padding-left:400px;
}
.tableEdit{
	float:left;
	padding-left:40px;

}

.head{
	background-color:black;
	height:50px;
}

.title{
	color:white;
	text-align:center;
}

.clear{
	clear:both;
}